{% if section.settings.tab_bar_enable %}
<div class="col-12 col-xl-3 col-lg-3 col-md-12">
  <!--=======  filter icons  =======-->

  <div class="filter-icons">


    <div class="single-icon grid-icons">
      <a data-target="five-column" href="javascript:void(0)"><svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.04588 5.33325H5.71252V8.66661H9.04588V5.33325Z" fill="#7E8483"/>
        <path d="M4.04588 0.333252H0.712524V3.66661H4.04588V0.333252Z" fill="#7E8483"/>
        <path d="M9.04588 10.3333H5.71252V13.6666H9.04588V10.3333Z" fill="#7E8483"/>
        <path d="M4.04588 5.33325H0.712524V8.66661H4.04588V5.33325Z" fill="#7E8483"/>
        <path d="M4.04588 10.3333H0.712524V13.6666H4.04588V10.3333Z" fill="#7E8483"/>
        <path d="M14.0459 0.333252H10.7125V3.66661H14.0459V0.333252Z" fill="#7E8483"/>
        <path d="M19.0458 0.333252H15.7124V3.66661H19.0458V0.333252Z" fill="#7E8483"/>
        <path d="M9.04588 0.333252H5.71252V3.66661H9.04588V0.333252Z" fill="#7E8483"/>
        <path d="M14.0459 5.33325H10.7125V8.66661H14.0459V5.33325Z" fill="#7E8483"/>
        <path d="M19.0458 5.33325H15.7124V8.66661H19.0458V5.33325Z" fill="#7E8483"/>
        <path d="M14.0459 10.3333H10.7125V13.6666H14.0459V10.3333Z" fill="#7E8483"/>
        <path d="M19.0458 10.3333H15.7124V13.6666H19.0458V10.3333Z" fill="#7E8483"/>
        </svg>
        </a>
      <a data-target="four-column" class="active"  href="javascript:void(0)"><svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.1426 6.98071H6.10388V11.0195H10.1426V6.98071Z" fill="#7E8483"/>
        <path d="M4.08452 0.922363H0.0457764V4.96111H4.08452V0.922363Z" fill="#7E8483"/>
        <path d="M10.1426 13.0386H6.10388V17.0773H10.1426V13.0386Z" fill="#7E8483"/>
        <path d="M4.08452 6.98071H0.0457764V11.0195H4.08452V6.98071Z" fill="#7E8483"/>
        <path d="M4.08452 13.0386H0.0457764V17.0773H4.08452V13.0386Z" fill="#7E8483"/>
        <path d="M16.2007 0.922363H12.162V4.96111H16.2007V0.922363Z" fill="#7E8483"/>
        <path d="M10.1426 0.922363H6.10388V4.96111H10.1426V0.922363Z" fill="#7E8483"/>
        <path d="M16.2007 6.98071H12.162V11.0195H16.2007V6.98071Z" fill="#7E8483"/>
        <path d="M16.2007 13.0386H12.162V17.0773H16.2007V13.0386Z" fill="#7E8483"/>
        </svg></a>
      <a data-target="three-column" href="javascript:void(0)"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.2249 9.50244H9.21521V15.5121H15.2249V9.50244Z" fill="#7E8483"/>
        <path d="M6.21023 0.487793H0.200562V6.49746H6.21023V0.487793Z" fill="#7E8483"/>
        <path d="M6.21023 9.50244H0.200562V15.5121H6.21023V9.50244Z" fill="#7E8483"/>
        <path d="M15.2249 0.487793H9.21521V6.49746H15.2249V0.487793Z" fill="#7E8483"/>
        </svg></a>
      <a data-target="grid-list" href="javascript:void(0)"><svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.9687 5.33325H5.22498V8.66661H14.9687V5.33325Z" fill="#7E8483"/>
        <path d="M3.55858 0.333252H0.22522V3.66661H3.55858V0.333252Z" fill="#7E8483"/>
        <path d="M14.9687 10.3333H5.22498V13.6666H14.9687V10.3333Z" fill="#7E8483"/>
        <path d="M3.55833 5.33325H0.224976V8.66661H3.55833V5.33325Z" fill="#7E8483"/>
        <path d="M3.55833 10.3333H0.224976V13.6666H3.55833V10.3333Z" fill="#7E8483"/>
        <path d="M14.9687 0.333252H5.22498V3.66661H14.9687V0.333252Z" fill="#7E8483"/>
        </svg></a>
    </div>

  </div>

  <!--=======  End of filter icons  =======-->
</div>
{% endif %}

<div class="col-12 col-xl-9 col-lg-9 col-md-12">

  <!--=======  End of grid icons  =======-->

  <div class="shopbar_right_info">

    {%- if section.settings.showing_product_counter_enable -%}
    {%- assign paginate_checker = paginate.current_page | times: products_limit -%}
    {%- if paginate.items > paginate_checker -%}
    {%- assign paginate_final = paginate_checker -%}
    {%- else -%}
    {%- assign paginate_final = paginate.items -%}
    {%- endif -%}

    {% assign showing_title = section.settings.showing_title_handle | split: "|" %}
    <div class="showing_result">{{ showing_title | slice: 0 }} 
    <span class="show-result1">{{ paginate.current_offset | plus: 1 }} - {{ paginate_final }}</span>
      {{ showing_title | slice: 1 }} 
      {{ paginate.items }} 
      {{ showing_title | slice: 2 }} 
    </div>
    {%- endif -%}
    
    
    {%- if sset.show_ajax_paginate -%}
    {% assign ajax_show_title = sset.ajax_show_title_handle | split: "|" %}
    <div class="product-showing">
      <p>{{ ajax_show_title | slice: 0 }}     
        <select name="paginateBy" id="paginateBy" class="collection-sort__input">
          {% for i in (1..100) %}
          {% assign v = i | append:'' %}
          <option value="{{ v }}"
                  {% if cart.attributes.pagination != blank and cart.attributes.pagination %}
                  {% if cart.attributes.pagination == v %} selected{% endif %}
                  {% else %}
                  {% if i == products_limit %} selected{% endif %}
                  {% endif %}>
            {{ i }} 
          </option>
          {% endfor %}
        </select>      
        <span>{{ ajax_show_title | slice: 1, 10 }}</span>
      </p>
    </div>{%- endif -%}

    {%- if section.settings.short_by_enable -%}
    <div class="single-icon filter-dropdown">
      <label for="SortBy">{{ 'collections.sorting.title' | t }} </label>
      <select name="SortBy" id="SortBy">
        <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
        <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
        <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
        <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
        <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
        <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
        <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
        <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
      </select>
    </div>
    {%- endif -%}


    <!--=======  advance filter icon  =======-->

    {% if section.settings.top_filter_menu %}
    <div class="single-icon advance-filter-icon">
      <a href="javascript:void(0)" id="advance-filter-active-btn"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.1506 0H1.42305C1.04649 0 0.741211 0.30528 0.741211 0.681835V3.40917C0.741211 3.60131 0.822258 3.7845 0.964398 3.91373L5.74133 8.25602V14.3182C5.74133 14.5545 5.86365 14.7739 6.06466 14.8982C6.17421 14.9658 6.29848 15 6.42317 15C6.5274 15 6.6319 14.9761 6.72808 14.928L9.45542 13.5643C9.68643 13.4488 9.83234 13.2128 9.83234 12.9545V8.25602L14.6093 3.91373C14.7514 3.7845 14.8325 3.60131 14.8325 3.40917V0.681835C14.8325 0.30528 14.5272 0 14.1506 0ZM8.69186 7.44986C8.54972 7.57909 8.46867 7.76228 8.46867 7.95442V12.5332L7.105 13.215V7.95442C7.105 7.76228 7.02395 7.57909 6.88181 7.44986L3.18677 4.09101H12.3869L8.69186 7.44986ZM13.4688 2.72734H2.10488V1.36367H13.4688V2.72734Z" fill="#7E8483"/>
        </svg>
         {{ section.settings.filter_btn_text }}</a>
    </div>
    {% endif %}

  </div>

</div>




<script>
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }

  $(function() {
    $('#SortBy')
    .val('{{ collection.sort_by | default: collection.default_sort_by }}')
         .bind('change', function() {
      Shopify.queryParams.sort_by = jQuery(this).val();
      location.search = jQuery.param(Shopify.queryParams);
    }
    );
  });
  
  {% if sset.show_ajax_paginate %}
  $('#paginateBy').on('change', function(){
    var val = $(this).val();
    $.ajax({
      type: "POST",
      url: '/cart.js',
      data: {"attributes[pagination]": val},
      success: function(d){
        window.location.reload();
      },
      dataType: 'json'
    });
  });
  {% endif %}
  
  
  
  
</script>












