<header data-section="HeaderSection" id="section-{{ section.id }}" class="header {% unless section.settings.header_top_enable == true  %} header-without-topbar {% endunless %} {% if section.settings.header_transparent == true and template == 'index' %} header-transparent-background {% endif %} {% if section.settings.header_sticky_enable and  section.settings.header_transparent == true %}header-sticky {% endif %} header_2">
  {% if section.settings.header_top_enable == true  %}
  <div id="content-desktop">
  <div class="header-top pt-10 pb-10">
    <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
      <div class="header-top-container">
        <div class="header-top-left {% if section.settings.gtranslate_enable -%} lang_translate {%- endif -%}">
          
          {% if settings.currency_enable %}
          <div class="currency-change change-dropdown">
            {% include 'currency-picker' %}
          </div>
          <span class="header-separator {% unless section.settings.gtranslate_enable -%} d-none d-sm-block {%- endunless -%}">|</span>
          {% endif %}
          
          {%- if section.settings.gtranslate_enable -%}
          {%- include 'gtranslate' -%}
          <span class="header-separator d-none d-sm-block">|</span>
          {%- endif -%}
          

          
          <div class="order-online-text d-none d-sm-block">
            {{ section.settings.welcome_text_msg }} <a href="{{ section.settings.phone_number_link }}"><span class="number"> {{ section.settings.welcome_text_phone_number}}</span></a>
          </div>
         <div class="spacer ml-10 mr-10">
           <p> | </p>
         </div>
          <div class="store-locator-btn">
            <svg width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: -5px;">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 0.583252C3.43625 0.583252 0.958336 3.06117 0.958336 6.12492C0.958336 10.2812 6.5 16.4166 6.5 16.4166C6.5 16.4166 12.0417 10.2812 12.0417 6.12492C12.0417 3.06117 9.56375 0.583252 6.5 0.583252ZM2.54167 6.12492C2.54167 3.93992 4.315 2.16659 6.5 2.16659C8.685 2.16659 10.4583 3.93992 10.4583 6.12492C10.4583 8.40492 8.17834 11.817 6.5 13.9466C4.85334 11.8328 2.54167 8.38117 2.54167 6.12492ZM4.52084 6.12492C4.52084 5.03185 5.40694 4.14575 6.5 4.14575C7.20709 4.14575 7.86047 4.52298 8.21401 5.13533C8.56756 5.74769 8.56756 6.50214 8.21401 7.1145C7.86047 7.72686 7.20709 8.10408 6.5 8.10408C5.40694 8.10408 4.52084 7.21798 4.52084 6.12492Z" fill="#00A651"/>
              </svg>
               <a href="/pages/store-locator/"><span class="text">Store Locator</span></a>
          </div>

        </div>
        
        <div class="header-top-right  {% unless section.settings.social_media_enable == true %} without_social {% endunless %}">

          {%- if section.settings.dropdown_menu_enable -%}
          <div class="top-shop-dropdown change-dropdown">
            <a href="javascript:void(0)">{{ section.settings.topbar_right_info_title }}</a>
            <ul>
              {% assign header_right_menu = section.settings.header_right_menu %}
              {% if header_right_menu != blank %}
              {% for link in linklists[header_right_menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
              {% else %}
              <li><a href="{{ routes.cart_url }}">{{ section.settings.shopping_cart_title }}</a></li>
              <li><a href="/checkout">{{ section.settings.checkout_title }}</a></li>
              {% endif %}
            </ul>
          </div>
          {%- endif -%}
          
           {%- if section.settings.social_media_enable and section.settings.dropdown_menu_enable -%}
          <span class="header-separator">|</span>
          {%- endif -%}
          
          {% if section.settings.social_media_enable %}
            <div class="top-social-icons">
              {% include 'social-midea' %}
            </div>
          {% endif %}
          
        </div>	
      </div>
    </div>
  </div>
</div>
  {% endif %}
  
  
<div class="header-bottom {% if section.settings.header_sticky_enable and section.settings.header_transparent != true %}header-sticky {% endif %} {% unless section.settings.menu_enable %} without_menu {% endunless %} pt-md-20 pb-md-20 pt-sm-20 pb-sm-20">
    <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
      <!--=======  header bottom container  =======-->

      <div class="header-bottom-container">
        <div class="logo-with-offcanvas d-flex">

          <div class="logo">
            {%- include 'header-logo' -%}
          </div>
        </div>

		
        <!--=======  header bottom navigation  =======-->
        {%- if section.settings.menu_enable -%}
        <div class="header-bottom-navigation">
          <div class="site-main-nav d-none d-lg-block">
            <nav class="site-nav center-menu">
                {%- include 'main-menu' -%}
            </nav>
          </div>
        </div>
		{%- endif -%}
        
        
        <!--=======  End of header bottom navigation  =======-->
        {% if section.settings.header_right_info %}
        <div class="header-right-container">
          <div class="header-right-icons d-flex justify-content-end align-items-center h-100">
            <!--=======  single-icon  =======-->

            <span class="appointment w-100">
              <a data-toggle="modal" data-target="#quickViewModal1" href="javascript:void(0);" data-tippy-content="Set an Appointment" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "{% if settings.rtl_enable %}right{% else %}left{% endif %}"  >BOOK AN APPOINTMENT</a></span>

            {% if section.settings.search_bar_enable %}
            <div class="single-icon search">
              <a href="javascript:void(0)" id="search-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4709 11.8791H13.1292L17.2875 16.0457L16.0459 17.2874L11.8792 13.1291V12.4707L11.6542 12.2374C10.7042 13.0541 9.47086 13.5457 8.12919 13.5457C5.13752 13.5457 2.71252 11.1207 2.71252 8.12907C2.71252 5.1374 5.13752 2.7124 8.12919 2.7124C11.1209 2.7124 13.5459 5.1374 13.5459 8.12907C13.5459 9.47074 13.0542 10.7041 12.2375 11.6541L12.4709 11.8791ZM4.37919 8.12907C4.37919 10.2041 6.05419 11.8791 8.12919 11.8791C10.2042 11.8791 11.8792 10.2041 11.8792 8.12907C11.8792 6.05407 10.2042 4.37907 8.12919 4.37907C6.05419 4.37907 4.37919 6.05407 4.37919 8.12907Z" fill="#3B4D49"/>
                  </svg>
              </a>
            </div>
            {% endif %}
            
            {% if section.settings.account_icon %}
            <div class="single-icon user-login">
              {% if customer and shop.customer_accounts_enabled %}
              <a href="{{ routes.account_url }}">
               <i class="ion-person-add"></i>
              </a>
              {% else %}
               <a href="{{ routes.account_login_url }}">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99998 3.33325C8.15831 3.33325 6.66665 4.82492 6.66665 6.66659C6.66665 8.50825 8.15831 9.99992 9.99998 9.99992C11.8416 9.99992 13.3333 8.50825 13.3333 6.66659C13.3333 4.82492 11.8416 3.33325 9.99998 3.33325ZM11.75 6.66658C11.75 5.69992 10.9666 4.91659 9.99998 4.91659C9.03331 4.91659 8.24998 5.69992 8.24998 6.66658C8.24998 7.63325 9.03331 8.41658 9.99998 8.41658C10.9666 8.41658 11.75 7.63325 11.75 6.66658ZM15.0833 14.1666C15.0833 13.6333 12.475 12.4166 9.99998 12.4166C7.52498 12.4166 4.91665 13.6333 4.91665 14.1666V15.0833H15.0833V14.1666ZM3.33331 14.1666C3.33331 11.9499 7.77498 10.8333 9.99998 10.8333C12.225 10.8333 16.6666 11.9499 16.6666 14.1666V16.6666H3.33331V14.1666Z" fill="#3B4D49"/>
                  </svg>
                  
              </a>
             {% endif %}
            </div>
            {% endif %}

            <!--=======  End of single-icon  =======-->
            <!--=======  single-icon  =======-->

            {% if section.settings.wishlist_enable %}
            <div class="single-icon wishlist">
              <a href="/pages/wishlist" id="offcanvas-wishlist-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.33146 16.5177L4.859 12.0308C4.66632 11.8478 3 10.2145 3 8.18179C3 5.66662 4.54148 4 7.12508 4C8.24862 4 9.31246 4.63226 10.1646 5.38099C11.0141 4.63226 12.0806 4 13.2041 4C15.6928 4 17.3292 5.56679 17.3292 8.18179C17.3292 9.62379 16.4662 11.0519 15.4811 12.028L15.4702 12.0391L10.9978 16.5177C10.7758 16.7415 10.4765 16.8671 10.1646 16.8671C9.85274 16.8671 9.55341 16.7415 9.33146 16.5177ZM5.76543 11.0741L10.1646 15.4888L14.5557 11.088C15.2965 10.3392 16.0266 9.24943 16.0266 8.18179C16.0266 6.32661 14.9899 5.33107 13.2041 5.33107C11.9232 5.33107 10.6857 6.6982 10.1646 7.22786C9.70326 6.75643 8.42774 5.33107 7.12508 5.33107C5.33664 5.33107 4.30266 6.32661 4.30266 8.18179C4.30266 9.21615 5.02726 10.3697 5.76543 11.0741Z" fill="#3B4D49"/>
                  </svg>
                  
              </a>
            </div>
            {% endif %}

            <!--=======  End of single-icon  =======-->
            <!--=======  single-icon  =======-->
            
            {% if section.settings.mini_cart_enable and template != "cart" %}
            <div class="single-icon cart">
              {%- assign item_count = cart.item_count -%}
              <a href="javascript:void(0)" id="offcanvas-cart-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2469 9.97508C14.9636 10.4917 14.4136 10.8334 13.7886 10.8334H7.58024L6.66357 12.5001H16.6636V14.1667H6.66357C5.39691 14.1667 4.59691 12.8084 5.20524 11.6917L6.33024 9.65841L3.33024 3.33341H1.66357V1.66675H4.38857L5.17191 3.33341H17.5052C18.1386 3.33341 18.5386 4.01675 18.2302 4.56675L15.2469 9.97508ZM16.0886 5.00008H5.96357L7.93857 9.16675H13.7886L16.0886 5.00008ZM6.66357 15.0001C5.74691 15.0001 5.00524 15.7501 5.00524 16.6667C5.00524 17.5834 5.74691 18.3334 6.66357 18.3334C7.58024 18.3334 8.33024 17.5834 8.33024 16.6667C8.33024 15.7501 7.58024 15.0001 6.66357 15.0001ZM13.3386 16.6667C13.3386 15.7501 14.0802 15.0001 14.9969 15.0001C15.9136 15.0001 16.6636 15.7501 16.6636 16.6667C16.6636 17.5834 15.9136 18.3334 14.9969 18.3334C14.0802 18.3334 13.3386 17.5834 13.3386 16.6667Z" fill="#3B4D49"/>
                  </svg>
                  
                <span class="count bigcounter">{{ item_count }}</span>
              </a>
            </div>
            {% endif %}
            <!--=======  End of single-icon  =======-->
          </div>
          <!--=======  End of header right icons  =======-->

        </div>
        {% endif %}

      </div>


      <!-- Mobile Navigation Start Here -->

      <div class="site-mobile-navigation d-block d-lg-none">
        {%- if section.settings.mobile_menu == "default" -%}
        <div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
          <!--Site Mobile Menu Toggle Start-->
          <button class="dl-trigger hamburger hamburger--spin">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button><!--Site Mobile Menu Toggle End-->
          {% include 'mobile_nav' %}
        </div>
        {%- elsif section.settings.mobile_menu == "offcanvas" -%}
        <div class="mobile-navigation-icon" id="mobile-menu-trigger">
          <i></i>
        </div>
        {%- include 'offcanvas_menu' -%}
        {%- endif -%}
      </div>

      <!-- Mobile Navigation End Here -->

    </div>
  </div>

  <!--=======  End of header bottom  =======-->
</header>