{%- if settings.newsletter_system == 'by_shopify_form' -%}
{%- assign formId = 'Contact_' | append: section.id -%}
{%- form 'customer', id: formId, class: "shopify_newsletter__form" -%}
{%- if form.posted_successfully? -%}
<p class="form-message form-message--success form-success">{{ 'general.newsletter_form.confirmation'| t }} <button class="success-form-close-btn"><i class="ion-close-round"></i></button></p>
<script>
  var SuccessFormToggle = $('.success-form-close-btn');
  SuccessFormToggle.on('click', function(){
    $('.form-message--success').slideToggle();
  })
</script>
{%- else -%}

{%- if settings.newsletter_style_handle == 'newsletter_style_1' -%}

<div id="one-time-newsletter" class="newsletter-overlay-area">
  <div class="newsletter-content newsletter-content-bg-1" id="newsletter-content">

    <span class="close-icon" id="newsletter-popup-close-icon">
      <a href="javascript:void(0)">
        <i class="ion-android-close"></i>
      </a>
    </span>
    <div class="warning-logo">
      <i class="fa fa-warning" aria-hidden="true"></i>
    </div>

    {% if settings.newletter_popup_title != blank %}
    <h2 class="mb-60">{{ settings.newletter_popup_title }}</h2>
    {% endif %}
    <div class="mc-newsletter-form mc-newsletter-form--popup">
      {%- if form.errors -%}
      <div class="form-message form-message--error">
        {{ form.errors | default_errors }}
      </div>
      {%- endif -%}
    </div>
    {% if settings.newsletter_text != blank %}
    <p>{{ settings.newsletter_text }}</p>
    {% endif %}
    <div class="warning-button">
     <span class="close two">LEAVE SITE</span>
       <button class="close" data-dismiss="modal">PROCEED, I'M 18+</button>
    </div>
  </div>
</div>
{%- endif -%}

{%- endif -%}
{%- endform -%}
{%- endif -%}

{%- if settings.one_day_popup_enable -%}
{{ 'newsletter-js.js' | asset_url | script_tag | remove: ' type="text/javascript"' }}
<script>
  jQuery(window).on('load', function () {
  var windows = $(window);
  var screenSize = windows.width();
  var newslettershowmobile = {{ settings.newsletter_Show }};
  if (screenSize >= newslettershowmobile) {
    setTimeout(function() {
      $('.popup_wrapper').css({"opacity": "1", "visibility": "visible"});
      $('.popup_off').click(function(){
        $(".popup_wrapper").fadeOut(200);
      })
    }, 500);	
  }
});
</script>
{%- endif -%}
{%- if settings.dont_show_again_enable -%}
<script>
if(localStorage.getItem("DontShow")) {
  $("#one-time-newsletter").hide();
}
});
</script>

<script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> 
        </script> 
  
        <!-- Bootstrap -->
        <link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/> 
        <script src= 
 "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> 
        </script> 

{%- else -%}
{% endif %}
