<div class="modal fade appointmentModal" id="quickViewModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="appoint-btn">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
        <div class="row">

      <div class="modal-body">
          <div class="try">
              <div class="qwick-view-content">
                <h1>Book a Virtual Appointment</h1>
                <h4>Talk to us through a Zoom call. Schedule an Appointment now.</h4>
            {% form 'contact' %}
                <div class="row">
                  <div class="col-12">
                    {{ form.errors | default_errors }}
                  </div>
                  <div class="col-md-6 mb-40">
                    <input type="text" required placeholder="First Name" class="{% if form.errors contains 'fname' %}error{% endif %}" name="contact[fname]" id="ContactFormFName" minlength="2" maxlength="20" value="{% if form.fname %}{{ form.fname }}{% elsif customer.fname %}{{ customer.fname }}{% endif %}">
                  </div>
                
                  <div class="col-md-6 mb-40">
                    <input type="text" required placeholder="Last Name" class="{% if form.errors contains 'lname' %}error{% endif %}" name="contact[lname]" id="ContactFormLName" minlength="2" maxlength="20" value="{% if form.lname %}{{ form.lname }}{% elsif customer.lname %}{{ customer.lname }}{% endif %}">
                  </div>
                
                  <div class="col-md-6 mb-40">
                    <input type="email" required placeholder="Email Address" class="{% if form.errors contains 'email' %}error{% endif %}" name="contact[email]" id="ContactFormEmail" maxlength="70" value="{% if form.email %}{{ form.email }}{% elsif customer.email %}{{ customer.email }}{% endif %}">
                  </div>
                
                  <div class="col-md-6 mb-40">
                    <input type="tel" required placeholder="Phone Number" class="{% if form.errors contains 'phone' %}error{% endif %}" name="contact[phone]" id="ContactFormPhone" pattern="[0-9\-]*" minlength="7" maxlength="12" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                  </div>
                  <div class="col-md-6 mb-40">
                    <input type="date" required placeholder="Date" class="{% if form.errors contains 'date' %}error{% endif %}" name="contact[date]" id="ContactFormDate" maxlength="8" max="2500-01-01" >
                  </div>

                  <div class="col-md-6 mb-40">
                    <input type="time" required placeholder="Time" class="{% if form.errors contains 'time' %}error{% endif %}" name="contact[time]" id="ContactFormTime" min="08:00" max="18:00" value="now">
                  </div>
                  <div class="col-lg-12 mb-40">
                    <textarea required placeholder="Message" class="{% if form.errors contains 'body' %}error{% endif %}" name="contact[body]" id="ContactFormMessage" maxlength="250" value="{% if form.body %}{{ form.body }}{% elsif customer.body %}{{ customer.body }}{% endif %}"></textarea>
                  </div>
                  <div class="col-lg-12 text-right">
                    <button type="submit" value="submit" class="lezada-button lezada-button--medium">SEND APPOINTMENT REQUEST</button>
                    <input type="hidden" value="submit" class="lezada-button lezada-button--medium" data-toggle="modal" data-target="#centralModalSuccess">
                  </div>
                </div>
                {% endform %}
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div> 

<div class="modal fade successModal" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" id="succes-btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" fill-rule="evenodd" clip-rule="evenodd" d="M34 -1.03315e-06C52.7782 -1.03315e-06 68 15.2231 68 33.9992C68 52.7769 52.7782 68 34 68C15.2218 68 0 52.7769 0 33.9992C0 15.2231 15.2218 -1.03315e-06 34 -1.03315e-06Z" fill="#39B54A"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M34 16.9998C24.616 16.9998 17 24.6158 17 33.9998C17 43.3838 24.616 50.9998 34 50.9998C43.384 50.9998 51 43.3838 51 33.9998C51 24.6158 43.384 16.9998 34 16.9998ZM34 47.5998C26.503 47.5998 20.4 41.4968 20.4 33.9998C20.4 26.5028 26.503 20.3998 34 20.3998C41.497 20.3998 47.6 26.5028 47.6 33.9998C47.6 41.4968 41.497 47.5998 34 47.5998ZM30.6 37.6888L41.803 26.4858L44.2 28.8998L30.6 42.4998L23.8 35.6998L26.197 33.3028L30.6 37.6888Z" fill="#00A651"/>
</svg>
          <p class="heading lead">Appointment Request Sent!</p>
          <p class="sub-heading">We will notify you through your email about the other details of your appointment.</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">OKAY, GREAT!</a>
      </div>
    </div>
  </div>
</div>

<script>
 ContactFormDate.min = new Date().toISOString().split("T")[0];
 ContactFormDate.value = new Date().toISOString().split("T")[0];
 
 $(function(){     
  var d = new Date(),        
      h = d.getHours(),
      m = d.getMinutes();
  if(h < 10) h = '0' + h; 
  if(m < 10) m = '0' + m; 
  $('input[type="time"][value="now"]').each(function(){ 
    $(this).attr({'value': h + ':' + m});
  });
});

//  $(window).on('load',function(){
//     var str = window.location.href;
//     var url = str.split('?');
//     var urlSplitter = str.split('/');
//     var urlValidator;
//     if(urlSplitter.length < 5) {
//       if(url[1] == "contact_posted=true") {
//             $('#centralModalSuccess').modal('show');
//             $('#one-time-newsletter').modal('hide');
//             console.log(urlValidator);
//           }
//     } else if(urlSplitter.length == 5) {
//       urlValidator = urlSplitter[4].split('?');
//       if(urlValidator[0] != "contact-us") {
//           if(url[1] == "contact_posted=true") {
//             $('#centralModalSuccess').modal('show');
//             console.log(urlValidator);
//           }
//         }
//     }
//  });
</script>
