<div class="customer-page theme-default-margin my-account-page">
  <div class="container">

    <h1>{{ 'customer.account.title' | t }}
      <span class="logout-title"><a href="/account/logout">{{ settings.customer_logout_title }}</a></span>
    </h1>

    <hr class="hr--small">

    <div class="row">

      <div class="col-md-8">
        <h2 class="h4">{{ 'customer.orders.title' | t }}</h2>

        {% comment %}
        If we have past orders, loop through each one
        {% endcomment %}
        {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

        <div class="table-wrap">
          <table class="full">
            <thead>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.payment_status' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
              <tr>
                <td>{{ order.name | link_to: order.customer_url }}</td>
                <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                <td>{{ order.financial_status_label }}</td>
                <td>{{ order.fulfillment_status_label }}</td>
                <td>{{ order.total_price | money }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% else %}

        <div class="no-order-container d-flex flex-column justify-content-center align-items-center mt-35">
          <div class="empty-orders-img">
            <img src="//cdn.shopify.com/s/files/1/0448/8436/1379/t/2/assets/empty_order_1920x1080.png?v=12288397226401311028" alt="">
          </div>
          <h2 class="mt-30 mb-0">No orders Yet</h2>
          <p class="mt-20">{{ 'customer.orders.none' | t }}</p>
        </div>

        {% endif %}
        {% if paginate.pages > 1 %}
        <hr>
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
        {% endif %}
        {% endpaginate %}
      </div>

      <div class="col-md-4">
        <h2 class="h4">{{ 'customer.account.details' | t }}</h2>

        <h3 class="h5">{{ customer.name }}</h3>

        {% if customer.default_address != nil %}
        <p>
          {{ customer.default_address.address1 }}<br>

          {% if customer.default_address.address2 != "" %}
          {{ customer.default_address.address2 }}<br>
          {% endif %}

          {% if customer.default_address.city != "" %}
          {{ customer.default_address.city }}<br>
          {% endif %}

          {% if customer.default_address.province_code != "" %}
          {{ customer.default_address.province_code | upcase }}<br>
          {% endif %}

          {% if customer.default_address.zip != "" %}
          {{ customer.default_address.zip | upcase }}<br>
          {% endif %}

          {% if customer.default_address.country != "" %}
          {{ customer.default_address.country }}<br>
          {% endif %}

          {% if customer.default_address.phone != "" %}
          {{ customer.default_address.phone }}
          {% endif %}
        </p>

        {% endif %}

        <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
      </div>

    </div>
  </div>
</div>
{% section 'custom-mailchimp_section2' %}