<div class="customer-page theme-default-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <div class="login">
          <div class="login-form-container">
            <div class="login-text">
              <h2>Create an Account</h2>
              <p>Please register using account details below.</p>
            </div>
            <div class="register-form">
              {% form 'create_customer' %}

              {{ form.errors | default_errors }}
            
              <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

              <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

              <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

              <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
              <span id="pass-icon" toggle="#CreatePassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              <div class="form-action-button">
                <button type="submit" class="theme-default-button">Create Account</button>
              </div>
              {% endform %}

            </div>
          </div>
          <div class="account-optional-action">
            <p>Already have an account? <a href="{{ 'login' }}"> Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% section 'custom-mailchimp_section2' %}

<script>
  $(".toggle-password").click(function() {

$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));
if (input.attr("type") == "password") {
  input.attr("type", "text");
} else {
  input.attr("type", "password");
}
});
</script>