<div class="banner-area"  id="section-{{ section.id }}" data-section="BannerSection">
    <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% elsif section.settings.container_width == 'no_gap' %} container-fluid p-0 {% endif %}">
      <div class="row {% if section.settings.container_width == 'no_gap' %} no-gutters {% endif %}">
        <div class="position-absolute">
          <svg width="110" height="124" viewBox="0 0 110 124" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.00814558 22.9045C-0.0469508 23.6735 0.178834 24.4365 0.643588 25.0516C1.10834 25.6668 1.78052 26.0925 2.53534 26.2497C3.3826 28.3971 6.40645 29.8579 8.37852 28.3095C9.6388 27.2344 10.6846 25.9309 11.4608 24.4676C12.23 24.5364 13.0025 24.3762 13.6809 24.0071C14.3593 23.638 14.9134 23.0765 15.2735 22.3932C15.9939 21.1006 16.6425 19.7693 17.2163 18.4053C17.7568 17.3973 18.3265 16.404 18.8378 15.4837C20.211 12.9857 21.7594 10.5023 21.0582 7.42006C20.8115 6.58315 20.2923 5.85264 19.583 5.3445C18.8737 4.83637 18.0151 4.57975 17.1433 4.61535C16.5229 4.71291 15.9153 4.8795 15.3319 5.11202C14.8562 4.54643 14.2423 4.1136 13.5497 3.85571C13.5497 0.305979 9.47409 -1.21321 6.71319 1.10945C6.0914 1.62625 5.5924 2.27492 5.2524 3.00847C4.71327 2.8097 4.1252 2.78602 3.57182 2.94075C3.01845 3.09549 2.52797 3.42076 2.17014 3.87033C0.461008 6.11996 1.04533 9.42135 0.943076 12.1238C0.811604 15.7174 0.198049 19.2963 0.00814558 22.9045Z" fill="#C2D4C9"/>
            <path d="M24.5934 61.367C24.7872 61.2169 24.968 61.0507 25.1339 60.8703C25.7343 61.156 26.3933 61.2969 27.058 61.2817C27.7227 61.2665 28.3745 61.0956 28.9612 60.7827C30.5507 59.5835 31.7665 57.9573 32.4671 56.0935C33.3885 54.6247 33.9214 52.9458 34.0155 51.2145C34.0155 51.1268 34.1178 51.0245 34.1616 50.9223C35.3741 48.3659 37.7406 44.9184 37.3608 41.9822C37.3252 41.3964 37.1594 40.826 36.8753 40.3124C36.5913 39.7989 36.1963 39.3552 35.719 39.0137C35.2418 38.6722 34.6943 38.4415 34.1165 38.3384C33.5388 38.2353 32.9454 38.2625 32.3794 38.4179C31.6071 38.6152 30.8853 38.9737 30.2613 39.4697C30.2587 38.9068 30.113 38.3538 29.8377 37.8628C30.0071 37.5623 30.101 37.2251 30.1115 36.8803C30.122 36.5355 30.0487 36.1933 29.8979 35.883C29.7471 35.5728 29.5233 35.3037 29.2456 35.099C28.968 34.8942 28.6448 34.7599 28.3038 34.7075C27.7501 34.5359 27.1528 34.5723 26.6239 34.8097C25.6297 35.0927 24.7856 35.7533 24.2721 36.6503C24.0233 36.7991 23.7886 36.9703 23.5709 37.1616C22.455 38.5123 21.6653 40.1018 21.2628 41.8069C20.6321 43.6383 20.0958 45.5008 19.6559 47.3872C18.7064 51.2291 17.7569 56.5171 19.6559 60.1837C20.1544 60.9947 20.9542 61.5747 21.8799 61.7966C22.8056 62.0184 23.7815 61.8639 24.5934 61.367Z" fill="#C2D4C9"/>
            <path d="M79.1831 31.2748C79.8676 31.8926 80.7657 32.2198 81.6873 32.1871C82.6089 32.1543 83.4815 31.7643 84.1206 31.0995C85.1779 29.6251 85.9962 27.9934 86.5454 26.2643C87.466 24.1914 88.0054 21.9695 88.1378 19.7053V19.5153C88.2838 19.1501 88.4445 18.785 88.5906 18.4052C89.4817 16.287 90.4166 14.1981 91.4245 12.1383C92.5293 10.2926 93.3562 8.2942 93.8787 6.20752C94.3461 3.00837 90.3728 0.291273 88.0355 3.08139C87.2905 3.94326 86.5747 4.8636 85.9027 5.81312C85.5224 5.44665 85.0435 5.19896 84.5246 5.10037C84.0057 5.00179 83.4694 5.05656 82.9811 5.25801C82.7181 5.36392 82.4641 5.49091 82.2215 5.63778C82.0347 5.34364 81.7743 5.10339 81.4661 4.94078C81.1579 4.77816 80.8126 4.69881 80.4644 4.71061C80.1161 4.72242 79.777 4.82498 79.4805 5.00809C79.184 5.19121 78.9405 5.44855 78.774 5.75467C77.4995 8.6255 76.8331 11.729 76.8166 14.87C76.668 16.6266 76.7023 18.394 76.9188 20.1435C77.1087 21.6043 76.7582 22.8752 77.6785 24.1169C77.8089 24.2911 77.9556 24.4525 78.1167 24.5989C78.1556 25.0339 78.2693 25.4589 78.4527 25.8552C77.8537 27.7688 77.2402 29.7117 79.1831 31.2748Z" fill="#C2D4C9"/>
            <path d="M57.81 42.406C57.9196 42.2352 58.0126 42.0542 58.0875 41.8655C58.7384 40.8714 59.2311 39.7823 59.5483 38.6371C60.0888 36.6943 60.79 34.8099 61.4619 32.9108C62.0024 31.3624 62.353 29.7117 62.8059 28.1341C63.3723 26.7148 63.5095 25.1605 63.2003 23.664C63.0424 23.155 62.7747 22.687 62.416 22.293C62.0573 21.8989 61.6164 21.5885 61.1245 21.3836C60.6326 21.1788 60.1017 21.0845 59.5693 21.1075C59.0369 21.1305 58.5161 21.2702 58.0437 21.5167C57.7247 21.0293 57.2846 20.6333 56.7664 20.3674C56.2483 20.1015 55.6699 19.9748 55.088 19.9999C54.5061 20.0249 53.9407 20.2008 53.4473 20.5102C52.9539 20.8197 52.5494 21.2521 52.2735 21.765C50.9191 25.0023 50.2381 28.4815 50.2723 31.9905C50.0166 34.6268 49.9727 37.2793 50.1408 39.9226C50.1615 40.4204 50.2977 40.9064 50.5386 41.3425C50.7794 41.7785 51.1183 42.1526 51.5286 42.4352C51.7014 42.7734 51.9174 43.0877 52.1713 43.3701C53.7927 45.313 56.6559 44.1736 57.81 42.406Z" fill="#C2D4C9"/>
            <path d="M102.276 41.5294L102.802 40.7844C103.796 39.5661 104.662 38.2494 105.388 36.8549C106.986 34.4169 108.323 31.8168 109.376 29.098C109.562 28.2675 109.468 27.3987 109.108 26.6272C108.749 25.8556 108.144 25.2246 107.389 24.8325C107.302 24.777 107.209 24.7328 107.111 24.7011C106.929 23.8453 106.47 23.0736 105.804 22.5057C105.138 21.9378 104.304 21.6055 103.43 21.5604C103.254 21.1766 102.973 20.8502 102.62 20.6185C102.268 20.3867 101.856 20.2589 101.434 20.2498C101.012 20.2407 100.596 20.3505 100.233 20.5668C99.8708 20.783 99.5763 21.0969 99.3837 21.4727C98.926 22.6203 98.5787 23.8089 98.3466 25.0224C97.9668 26.3372 97.6892 27.6665 97.2656 28.9812C97.2656 29.0542 97.2656 29.1419 97.1925 29.2295C96.0706 31.8423 95.38 34.6198 95.1474 37.4538C95.1188 37.9359 95.225 38.4164 95.4542 38.8415C95.4824 39.2389 95.5761 39.6289 95.7317 39.9956C95.7899 40.158 95.8632 40.3145 95.9508 40.463C95.9791 40.709 96.0231 40.953 96.0824 41.1934C96.2557 41.7658 96.613 42.2651 97.099 42.6137C97.585 42.9624 98.1724 43.1409 98.7702 43.1217C99.199 43.0662 99.6204 42.9633 100.026 42.8149C100.473 42.7777 100.905 42.6434 101.294 42.4213C101.682 42.1992 102.018 41.8948 102.276 41.5294Z" fill="#C2D4C9"/>
            <path d="M65.8446 79.3787C65.8051 80.0627 66.0073 80.7389 66.4159 81.289C66.8244 81.8391 67.4133 82.228 68.0796 82.3879C68.0796 82.8262 68.1672 83.2644 68.2257 83.7026C68.2856 84.3934 68.5378 85.0536 68.9538 85.6083C69.3699 86.163 69.933 86.59 70.5794 86.8409C71.2257 87.0919 71.9295 87.1567 72.6108 87.028C73.2921 86.8993 73.9237 86.5823 74.4341 86.1129C74.9278 86.3111 75.4578 86.4029 75.9895 86.3823C76.5211 86.3617 77.0425 86.2293 77.5195 85.9935C77.9965 85.7578 78.4183 85.4241 78.7576 85.0143C79.0969 84.6044 79.3459 84.1276 79.4884 83.615C79.7659 82.7969 79.9997 81.9643 80.248 81.1317C82.2925 78.1459 83.5763 74.7057 83.9876 71.1106C84.0311 70.709 83.976 70.3028 83.827 69.9273C84.9372 66.8743 86.4564 62.9301 84.0899 60.5198C83.3666 59.8611 82.4139 59.5121 81.4363 59.5477C80.4587 59.5832 79.5339 60.0003 78.8603 60.7097L78.758 60.8266C78.2311 60.6152 77.6634 60.5253 77.0969 60.5632C76.5305 60.6011 75.9799 60.766 75.4858 61.0457C75.343 61.1229 75.2063 61.2108 75.0768 61.3086C74.8268 60.4535 74.3161 59.6977 73.616 59.1467C73.616 58.65 73.616 58.1679 73.689 57.6859C73.9717 55.3012 73.888 52.8873 73.4407 50.528C73.4407 48.4829 69.7741 47.0221 68.7808 49.4908C68.0841 51.73 67.7055 54.0559 67.6559 56.4004C67.4368 58.5331 67.1885 60.6513 66.984 62.7694C65.5232 68.116 65.976 76.647 65.8299 79.1741L65.8446 79.3787Z" fill="#C2D4C9"/>
            <path d="M38.9653 92.9201C38.9745 93.5779 39.1648 94.2204 39.5153 94.777C39.8657 95.3336 40.3628 95.7829 40.9519 96.0755C41.7787 96.4917 42.7259 96.6027 43.6265 96.3889C44.5271 96.1751 45.3233 95.6503 45.8748 94.9069V94.8338C45.8776 94.7998 45.8776 94.7656 45.8748 94.7316C45.9949 94.5646 46.0931 94.383 46.167 94.1911C47.4768 91.7611 48.4078 89.1453 48.9279 86.4342L49.147 85.7915C50.0673 83.089 51.2944 80.5034 52.1416 77.7717C52.9889 75.04 50.6809 73.3893 48.4166 73.3893C47.9871 72.8754 47.394 72.5248 46.7367 72.396C46.7367 71.7825 46.8243 71.1543 46.8536 70.5408C46.9996 67.4439 42.7926 66.1584 40.8789 68.3058C40.2543 69.0281 39.76 69.8536 39.4181 70.7453C38.958 70.8007 38.5251 70.9934 38.176 71.2982C37.8269 71.603 37.5776 72.0059 37.4607 72.4544C36.6781 75.0653 36.1882 77.7551 35.9999 80.4742C35.9122 82.5777 35.3425 85.3094 36.1021 87.3253C36.3637 88.073 36.8811 88.7042 37.5629 89.1075C37.5569 89.156 37.5569 89.2051 37.5629 89.2536C37.5107 89.9304 37.6095 90.6104 37.852 91.2445C38.0945 91.8785 38.4748 92.4508 38.9653 92.9201Z" fill="#C2D4C9"/>
            <path d="M9.92601 115.373C9.92601 115.373 9.92601 115.373 9.92601 115.285C10.8052 115.324 11.6701 115.053 12.3697 114.519C13.0693 113.985 13.5589 113.222 13.7533 112.363C13.8701 111.954 14.0016 111.56 14.1477 111.166C16.0892 108.804 17.7419 106.22 19.0706 103.467C20.3999 101.13 23.1754 96.9958 22.1675 94.1765C21.8621 93.2982 21.2725 92.5468 20.4919 92.0414C19.7113 91.536 18.7845 91.3055 17.8581 91.3864C17.2536 90.721 16.4378 90.2849 15.5487 90.1518C14.6597 90.0187 13.7519 90.1968 12.9791 90.656C12.9108 90.6862 12.8469 90.7255 12.7892 90.7728C12.7 90.0792 12.4173 89.4247 11.9735 88.8842C11.5297 88.3437 10.9428 87.939 10.2798 87.7165C9.61685 87.494 8.90457 87.4626 8.22457 87.6259C7.54457 87.7892 6.92429 88.1407 6.43468 88.6401V88.7277C6.02861 88.8264 5.65446 89.0271 5.34769 89.3108C5.04092 89.5946 4.81172 89.952 4.68176 90.3492C4.02304 92.5631 3.53469 94.8242 3.22096 97.1127C3.08949 97.6824 2.97259 98.2375 2.87034 98.8072C2.2568 102.284 1.23426 106.549 2.32985 110.026C2.41376 110.298 2.53158 110.558 2.68047 110.8C2.47596 112.699 1.73093 114.876 3.01643 116.57C4.7986 118.908 9.38551 119.039 9.92601 115.373Z" fill="#C2D4C9"/>
            <path d="M94.9893 95.1554C92.6958 95.3599 91.6002 96.8207 90.417 98.5591C90.1686 98.9243 88.9561 100.706 90.0663 99.2018C89.745 99.6401 89.4528 100.093 89.1607 100.546C88.5761 100.257 87.9299 100.115 87.2782 100.133C86.6264 100.151 85.9889 100.328 85.421 100.648C84.847 101.003 84.3503 101.47 83.9602 102.021C83.4804 101.769 82.9465 101.637 82.4045 101.637C81.8625 101.637 81.3286 101.769 80.8487 102.021C78.1609 103.234 78.2193 108.434 78.0294 110.786C77.7372 114.394 77.6496 118.937 80.2936 121.742C80.781 122.259 81.4225 122.606 82.1226 122.73C82.8228 122.853 83.5441 122.748 84.1793 122.428C85.9761 124.357 89.7888 124.722 90.899 121.786C91.6586 119.755 92.4621 117.725 93.2801 115.709C93.7037 115.124 94.0981 114.526 94.4925 113.897C95.8511 111.75 97.2243 109.676 98.3637 107.411C98.7069 106.812 98.8739 106.128 98.8455 105.438C98.8171 104.748 98.5944 104.08 98.203 103.511C98.5931 102.365 98.8815 101.187 99.0648 99.9906C99.1893 99.3942 99.1765 98.7773 99.0273 98.1866C98.8782 97.5959 98.5966 97.0468 98.204 96.581C97.8113 96.1152 97.3178 95.7447 96.7609 95.4978C96.2039 95.2508 95.5981 95.1337 94.9893 95.1554Z" fill="#C2D4C9"/>
            </svg>
        </div>
        {%- for block in section.blocks -%}
        
        {%- capture bannerimage -%}
        {% if block.settings.banner_img %}{{ block.settings.banner_img | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/860x750{% endif %}
        {%- endcapture -%}
        
        {%- capture imageSrcset -%}
        {% if block.settings.banner_img != blank -%}  data-srcset="{%- include 'layload_datasrc', datascrc: block.settings.banner_img, imagesize: 'master' -%}"{%- endif %}
        {%- endcapture -%}
        
        {%- case block.type -%}
        {%- when 'banner' -%}
        <div class="col-md-{{ block.settings.banner_coloum }}">
          <div class="banner-box banner-type-5 banner-hover-1 mb-30 {% if section.settings.section_snow_effect %}snow--section-effect {% endif %}">
            <div class="banner-inner">
              <div class="banner-image">
                {%- if block.settings.banner_button_url != blank -%}
                 <a href="{{ block.settings.banner_button_url }}">
                  <img class="lazyload" src="{{ bannerimage }}" data-src="{{ bannerimage }}" {{ imageSrcset }} alt="{{ block.settings.banner_img.alt }}">
                </a>
                {%- else -%}
                <img class="lazyload" src="{{ bannerimage }}" data-src="{{ bannerimage }}" {{ imageSrcset }} alt="{{ block.settings.banner_img.alt }}">
                {%- endif -%}
              </div>
              
              {% if block.settings.banner_button != blank or block.settings.banner_subtitle != blank or block.settings.banner_title != blank or block.settings.banner_description != blank %}
              <div class="banner-info banner-1">
                <div class="banner-info--inner">
                  {%- if block.settings.banner_subtitle != blank -%}
                  <p class="banner-title-1 lts-10 lts-xs-0 font-bold text-uppercase">{{ block.settings.banner_subtitle }}</p>
                  {%- endif -%}
  
                  {%- if block.settings.banner_description != blank -%}
                  <p class="banner-title-5 mt--10 mb--20"> {{ block.settings.banner_description }}</p>
                  {%- endif -%}
                </div>
                {%- if block.settings.banner_button != blank -%}
                <a class="btn btn-medium btn-style-1 btn-bordered mt--30 mt-lg--10" href="{{ block.settings.banner_button_url }}">{{ block.settings.banner_button }}</a>
                {%- endif -%}
              </div>
              {%- endif -%}
              {%- if block.settings.banner_button != '' -%}
              <a class="banner-link banner-overlay" href="{{ block.settings.banner_button_url }}">{{ block.settings.banner_button }}</a>
              {% endif %}
            </div>
          </div>
        </div>
  
        {%- when 'banner-2' -%}
        <div class="col-md-{{ block.settings.banner_coloum_2 }}">
          <div class="banner-box banner-type-5 banner-hover-1 mb-30 {% if section.settings.section_snow_effect %}snow--section-effect {% endif %}">
            <div class="banner-inner">
              <div class="banner-image">
                {%- if block.settings.banner_button_url != blank -%}
                <a href="{{ block.settings.banner_button_url }}">
                    <img class="lazyload" src="{{ bannerimage }}" data-src="{{ bannerimage }}" {{ imageSrcset }} alt="{{ block.settings.banner_img_2.alt }}">
                </a>
                {%- else -%}
                <img class="lazyload" src="{{ bannerimage }}" data-src="{{ bannerimage }}" {{ imageSrcset }} alt="{{ block.settings.banner_img_2.alt }}">
                {%- endif -%}
             </div>
              {% if block.settings.banner_button_2 != '' or block.settings.banner_subtitle_2 != '' or block.settings.banner_title_2 != '' or block.settings.banner_description_2 != '' %}
              <div class="banner-info  banner-2">
                <div class="banner-info--inner">
                  
                  {%- if block.settings.banner_subtitle_2 != blank -%}
                  <p class="banner-title-6">{{ block.settings.banner_subtitle_2 }}</p>
                  {%- endif -%}
  
                  {%- if block.settings.banner_title_2 != blank -%}
                  <p class="heading-bigger color--white text-capitalize">{{ block.settings.banner_title_2 }}</p>
                  {%- endif -%}
  
                  {%- if block.settings.banner_description_2 != blank -%}
                  <p class="banner-title-1 lts-10 lts-xl-1 text-uppercase font-weight-700 mb--20">{{ block.settings.banner_description_2 }}</p>
                  {%- endif -%}
                </div>
                {%- if block.settings.banner_button_2 != blank -%}
                <a class="btn btn-medium btn-style-1 btn-bordered mt--30 mt-lg--10" href="{{ block.settings.banner_button_url_2 }}">{{ block.settings.banner_button_2 }}</a>
                {%- endif -%}
                
              </div>
              {% endif %}
              {% if block.settings.banner_button_2 != '' %}
              <a class="banner-link banner-overlay" href="{{ block.settings.banner_button_url_2 }}">{{ block.settings.banner_button_2 }}</a>
              {% endif %}
            </div>
          </div>
        </div>
        {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
  <!-- Banner Area End Here -->
  
  {% include 'section_typography' %}
  
  
  {%- style -%}
  
    {%- for block in section.blocks -%}
    {% case block.type %}
    {%- when 'Banner_color_style' -%}
  
  
      #section-{{ section.id }} .banner-1 .banner-title-1 {
      color: {{ block.settings.sub_title_color }};
      }
      #section-{{ section.id }} .banner-1 .banner-title-4 span:first-child{
      color: {{ block.settings.title_color }};
      background: {{ block.settings.title_bg_color }};
      }
      #section-{{ section.id }} .banner-1 .banner-title-4 span:last-child{
      color: {{ block.settings.title_2_color }};
      }
      #section-{{ section.id }} .banner-1 .banner-title-4 {
      border: 3px solid {{ block.settings.title_border_color }};
      }
      #section-{{ section.id }} .banner-1 .banner-title-5{
      color: {{ block.settings.description_color }};
      }
      #section-{{ section.id }} .banner-2 .banner-title-6{
      color: {{ block.settings.sub_title_2_color }};
      } 
      #section-{{ section.id }} .banner-2 .heading-bigger.color--white {
      color: {{ block.settings.title_3_color }}!important;
      }
      #section-{{ section.id }} .banner-2 .banner-title-1 {
      color: {{ block.settings.description_2_color }};
      }
      #section-{{ section.id }} .btn-bordered {
      background: {{ block.settings.button_bg_color }};
      color: {{ block.settings.button_text_color }};
      border: 1px solid {{ block.settings.button_border_color }};
      }
      #section-{{ section.id }} .banner-box:hover .btn-style-1 {
      color: #000;
      background-color: {{ block.settings.button_bg_hover_color }};
      border-color: {{ block.settings.button_border_hover_color }};
      }
  
    {%- endcase -%}
    {%- endfor -%}
  
  
  
  
  {%- endstyle -%}
  
  
  {% schema %}
    {
      "name": "Custom Creative Banner",
      "settings": [
          {
            "type":  "radio",
            "id":    "container_width",
            "label": "Container Width",
            "options": [
              { "value": "container", "label": "Container" },
              { "value": "fluid", "label": "Full Width" },
              { "value": "no_gap", "label": "No Gap Full Width" }
            ],
            "default":   "container"
          },
          {
            "type": "header",
            "content": "Snow Effect"
          },
          {
            "type": "checkbox",
            "id": "section_snow_effect",
            "label": "Snow Effect Enable",
            "default": false
          }
  
      ],
      "blocks":[
         {
             "type": "banner",
             "name": "Banner Style 1",
             "settings": [
                {
                    "type": "select",
                    "id": "banner_coloum",
                    "label": "Banner Column",
                    "options":[
                          {
                              "label": "2 Column",
                              "value": "6"
                          },
                          {
                              "label": "3 Column",
                              "value": "4"
                          },
                          {
                              "label": "4 Column",
                              "value": "3"
                          }
                      ],
                      "default": "6"
                  },
                  {
                    "type": "image_picker",
                    "id": "banner_img",
                    "label": "Image",
                    "info": "Recommended Size: 860 x 750px"
                },
                {
                  "type": "header",
                  "content": "Sub Title"
                },
                {
                    "type": "textarea",
                    "id": "banner_subtitle",
                    "label": "Banner Subtitle",
                    "default": "Checked Shirt"
                },
                {
                  "type": "header",
                  "content": "Title"
                },
                {
                    "type": "text",
                    "id": "banner_first_title",
                    "label": "Banner First Title",
                    "default": "Sale"
                },
                {
                    "type": "text",
                    "id": "banner_last_title",
                    "label": "Banner Last Title",
                    "default": "50%"
                },
                {
                  "type": "header",
                  "content": "Content"
                },
                {
                    "type": "textarea",
                    "id": "banner_description",
                    "label": "Banner Description",
                    "default": "Don't Miss This Chance"
                },
                {
                  "type": "header",
                  "content": "Button"
                },
                {
                    "type": "text",
                    "id": "banner_button",
                    "label": "Button Title",
                    "default": "Shop Now"
                },
                {
                    "type": "url",
                    "id": "banner_button_url",
                    "label": "URL"
                }
             ]
         },
         {
             "type": "banner-2",
             "name": "Banner Style 2",
             "settings": [
                {
                    "type": "select",
                    "id": "banner_coloum_2",
                    "label": "Banner Column",
                    "options":[
                          {
                              "label": "2 Column",
                              "value": "6"
                          },
                          {
                              "label": "3 Column",
                              "value": "4"
                          },
                          {
                              "label": "4 Column",
                              "value": "3"
                          }
                      ],
                      "default": "6"
                },
                {
                    "type": "image_picker",
                    "id": "banner_img_2",
                    "label": "Image",
                    "info": "Recommended Size: 860 x 750px"
                },
                {
                    "type": "textarea",
                    "id": "banner_subtitle_2",
                    "label": "Banner Subtitle",
                    "default": "Woman Dress 2018"
                },
                {
                    "type": "text",
                    "id": "banner_title_2",
                    "label": "Banner Title",
                    "default": "Sale 30%"
                },
                {
                    "type": "textarea",
                    "id": "banner_description_2",
                    "label": "Banner Description",
                    "default": "Don't Miss This Chance"
                },
                {
                    "type": "text",
                    "id": "banner_button_2",
                    "label": "Button Title",
                    "default": "Shop Now"
                },
                {
                    "type": "url",
                    "id": "banner_button_url_2",
                    "label": "URL"
                }
             ]
         },
         {
            "type": "section_padding",
            "name": "Section Padding",
            "limit": 1,
            "settings": [
              {
                "type": "header",
                "content": "Large/Desktop Device"
              },
              {
                "type": "range",
                "id": "section_padding_top",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Top",
                "unit": "px",
                "default": 0
              },
              {
                "type": "range",
                "id": "section_padding_bottom",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Bottom",
                "unit": "px",
                "default": 100
              },
              {
                "type": "header",
                "content": "Tablet Device"
              },
              {
                "type": "range",
                "id": "section_padding_top_md",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Top",
                "unit": "px",
                "default": 0
              },
              {
                "type": "range",
                "id": "section_padding_bottom_md",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Bottom",
                "unit": "px",
                "default": 80
              },
              {
                "type": "header",
                "content": "Mobile Device"
              },
              {
                "type": "range",
                "id": "section_padding_top_xs",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Top",
                "unit": "px",
                "default": 0
              },
              {
                "type": "range",
                "id": "section_padding_bottom_xs",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Bottom",
                "unit": "px",
                "default": 60
              }
            ]
         },
         {
            "type": "section_margin",
            "name": "Section Margin",
            "limit": 1,
            "settings": [
              {
                "type": "header",
                "content": "Large/Desktop Device"
              },
              {
                "type": "range",
                "id": "section_margin_top",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Top",
                "unit": "px",
                "default": 0
              },
              {
                "type": "range",
                "id": "section_margin_bottom",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Bottom",
                "unit": "px",
                "default": 0
              },
              {
                "type": "header",
                "content": "Tablet Device"
              },
              {
                "type": "range",
                "id": "section_margin_top_md",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Top",
                "unit": "px",
                "default": 0
              },
              {
                "type": "range",
                "id": "section_margin_bottom_md",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Bottom",
                "unit": "px",
                "default": 0
              },
              {
                "type": "header",
                "content": "Mobile Device"
              },
              {
                "type": "range",
                "id": "section_margin_top_xs",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Top",
                "unit": "px",
                "default": 0
              },
              {
                "type": "range",
                "id": "section_margin_bottom_xs",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Bottom",
                "unit": "px",
                "default": 0
              }
            ]
         },
         {
            "type": "section_background",
            "name": "Section Background",
            "limit": 1,
            "settings": [
              {
                "type": "image_picker",
                "id": "section_bg_image",
                "label": "BG Image"
              },
              {
                "type": "color",
                "id": "section_bg_color",
                "label": "BG Color",
                "default": "#ffffff"
              }
            ]
         },
         {
            "type": "Banner_color_style",
            "name": "Banner Color Options",
            "limit": 1,
            "settings": [
              {
                "type": "header",
                "content": "Banner 1"
              },
              {
                 "type": "color",
                 "id": "sub_title_color",
                 "label": "Sub-title Color",
                 "default": "#ffffff"
              },
              {
                 "type": "color",
                 "id": "title_color",
                 "label": "Title 1 Color",
                 "default": "#282828"
              },
              {
                 "type": "color",
                 "id": "title_bg_color",
                 "label": "Title 1 BG Color",
                 "default": "#ffffff"
              },
              {
                 "type": "color",
                 "id": "title_2_color",
                 "label": "Title 1 Color",
                 "default": "#ffffff"
              },
              {
                 "type": "color",
                 "id": "title_border_color",
                 "label": " Title Border Color",
                 "default": "#ffffff"
              },
              {
                 "type": "color",
                 "id": "description_color",
                 "label": "Description Color",
                 "default": "#ffffff"
              },
              {
                "type": "header",
                "content": "Banner 2"
              },
              {
                 "type": "color",
                 "id": "sub_title_2_color",
                 "label": "Sub-title Color",
                 "default": "#ffffff"
              },
              {
                 "type": "color",
                 "id": "title_3_color",
                 "label": "Title 1 Color",
                 "default": "#ffffff"
              },
              {
                 "type": "color",
                 "id": "description_2_color",
                 "label": "Description Color",
                 "default": "#ffffff"
              },
              {
                "type": "header",
                "content": "Button"
              }, 
              {
                 "type": "color",
                 "id": "button_text_color",
                 "label": "Button Text Color",
                 "default": "#ffffff"
              },  
              {
                 "type": "color",
                 "id": "button_bg_color",
                 "label": "Button BG Color",
                 "default": "#ffffff"
              },  
              {
                 "type": "color",
                 "id": "button_border_color",
                 "label": "Button Border Color",
                 "default": "#fff"
              }, 
              {
                 "type": "color",
                 "id": "button_text_hover_color",
                 "label": "Button Text Hover Color",
                 "default": "#ffffff"
              },  
              {
                 "type": "color",
                 "id": "button_bg_hover_color",
                 "label": "Button BG Hover Color",
                 "default": "#cf987e"
              }, 
              {
                 "type": "color",
                 "id": "button_border_hover_color",
                 "label": "Button Border Hover Color",
                 "default": "#000"
              }
            ]
         }
      ],
      "presets": [
          {
            "name": "Custom Creative Banner",
             "category": "Custom Sections",
            "blocks":[
                  {
                      "type": "banner"
                  },
                  {
                      "type": "banner"
                  }
              ]
          }
      ]
    }
  {% endschema %}