{% if section.settings.section_enable %}
<div id="section-{{ section.id }}" class="mt-100 mt-sm-80">
  {% if section.settings.section_title_enable %}
  <div class="section-title-container mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!--=======  section title  =======-->

          <div class="section-title section-title--one text-center">
            {% if section.settings.section_title != blank %}
            <h1>{{ section.settings.section_title }}</h1>
            {% endif %}
            {% if section.settings.section_subtitle != blank %}
            <p class="subtitle subtitle--deep">{{ section.settings.section_subtitle }}</p>
            {% endif %}
          </div>

          <!--=======  End of section title  =======-->
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="icon-box-area mb-100 mb-md-30 mb-sm-30">
    <div class="container">
      <div class="row">
        {% for block in section.blocks %}
        {%- case block.type -%}
        {% when 'address' %}
        <div class="col-lg-{{ block.settings.lg_banner_col }} col-md-{{ block.settings.md_banner_col }} mb-md-70 mb-sm-70">
          <!--=======  single icon box  =======-->

          <div class="single-icon-box">
            {% if block.settings.address_icon != blank %}
            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M38.2695 7.99798C34.7578 2.91552 29.1923 0 23.001 0C16.8098 0 11.2443 2.91552 7.73253 7.99798C4.23806 13.0547 3.43117 19.4567 5.56982 25.1129C6.14185 26.6574 7.05116 28.1581 8.26603 29.5643L21.7766 45.4338C22.0821 45.793 22.5298 46 23.001 46C23.4723 46 23.92 45.7931 24.2255 45.4338L37.7323 29.5687C38.9525 28.1543 39.8607 26.6553 40.4279 25.1231C42.5709 19.4567 41.764 13.0547 38.2695 7.99798ZM37.416 23.9966C36.9786 25.1788 36.2644 26.3476 35.2945 27.4718C35.2918 27.4745 35.2891 27.4772 35.287 27.4804L23.001 41.9109L10.7075 27.4713C9.73821 26.3481 9.02404 25.1794 8.58228 23.9859C6.81361 19.3082 7.48484 14.015 10.3783 9.82729C13.2809 5.6262 17.882 3.21677 23.001 3.21677C28.12 3.21677 32.7205 5.62611 35.6232 9.82729C38.5172 14.015 39.189 19.3082 37.416 23.9966Z" fill="#00A651"/>
              <path d="M23.0012 9.54309C18.035 9.54309 13.9941 13.5834 13.9941 18.5501C13.9941 23.5168 18.0344 27.5571 23.0012 27.5571C27.9679 27.5571 32.0082 23.5168 32.0082 18.5501C32.0082 13.5839 27.9674 9.54309 23.0012 9.54309ZM23.0012 24.3403C19.8085 24.3403 17.2109 21.7427 17.2109 18.55C17.2109 15.3573 19.8085 12.7598 23.0012 12.7598C26.1938 12.7598 28.7914 15.3573 28.7914 18.55C28.7914 21.7427 26.1938 24.3403 23.0012 24.3403Z" fill="#00A651"/>
              </svg>              
            {% endif %}
            <div class="icon-box-content">
              {% if block.settings.address_title != blank %}
              <h3 class="title">{{ block.settings.address_title }}</h3>
              {% endif %}
              
              {% if block.settings.address_content != blank %}
              <p class="content">{{ block.settings.address_content }}</p>
              {% endif %}
            </div>
          </div>

          <!--=======  End of single icon box  =======-->
        </div>
        {% when 'contact' %}
        <div class="col-lg-{{ block.settings.lg_banner_col }} col-md-{{ block.settings.md_banner_col }} mb-md-70 mb-sm-70">
          
          <div class="single-icon-box mb-10">
            
            {% if block.settings.phone_icon != blank %}
            <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M39.9646 44.3262C42.4244 44.3262 44.4258 42.3154 44.4258 39.8438V33.8672C44.4258 33.2244 44.0147 32.6537 43.4052 32.45L34.4616 29.4618C34.0237 29.3155 33.5433 29.3798 33.1593 29.6357L29.3559 32.1712C25.2741 30.2344 20.4497 25.4528 18.5308 21.4435L21.0655 17.6415C21.3214 17.2576 21.3856 16.7769 21.2394 16.3392L18.2511 7.3956C18.0474 6.78599 17.4768 6.375 16.834 6.375H10.8574C8.38581 6.375 6.375 8.37625 6.375 10.8362C6.375 19.0915 10.1287 27.5642 16.6736 34.0817C23.2114 40.5922 31.7007 44.3262 39.9646 44.3262ZM10.8574 9.36328H15.7579L18.1734 16.5925L15.5909 20.4663C15.3179 20.8757 15.264 21.3932 15.4468 21.85C16.4404 24.334 18.4288 27.1277 21.0457 29.7167C23.6453 32.2885 26.4527 34.2552 28.9508 35.2543C29.4075 35.437 29.9251 35.3831 30.3344 35.1103L34.2083 32.5277L41.4375 34.9433V39.8438C41.4375 40.6816 40.7905 41.3379 39.9646 41.3379C24.235 41.3379 9.36328 26.5146 9.36328 10.8362C9.36328 10.0102 10.0196 9.36328 10.8574 9.36328Z" fill="#00A651"/>
              </svg>              
            {% endif %}
            
            <div class="icon-box-content">
              {% if block.settings.phone_title != blank %}
              <h3 class="title">{{ block.settings.phone_title }}</h3>
              {% endif %}
              {% if block.settings.phone_content != blank %}
              <p class="content">{{ block.settings.phone_content }}</p>
              {% endif %}
            </div>
          </div>


          <!--=======  End of single icon box  =======-->
        </div>
        {% when 'special_note' %}
        <div class="col-lg-{{ block.settings.lg_banner_col }} col-md-{{ block.settings.md_banner_col }} mb-md-70 mb-sm-70">
          <div class="single-icon-box">
            
            {% if block.settings.special_icon != blank %}
            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M41.957 6.82812H4.04297C1.80918 6.82812 0 8.64854 0 10.8711V35.1289C0 37.3647 1.82248 39.1719 4.04297 39.1719H41.957C44.1721 39.1719 46 37.3723 46 35.1289V10.8711C46 8.65249 44.198 6.82812 41.957 6.82812ZM41.3908 9.52344C40.5648 10.3451 26.3496 24.4854 25.8588 24.9736C25.0952 25.7373 24.0799 26.1577 23 26.1577C21.9201 26.1577 20.9048 25.7372 20.1387 24.9711C19.8086 24.6427 5.75027 10.6585 4.60916 9.52344H41.3908ZM2.69531 34.5803V11.4214L14.3425 23.0072L2.69531 34.5803ZM4.61087 36.4766L16.2535 24.908L18.2353 26.8795C19.508 28.1522 21.2002 28.8531 23 28.8531C24.7998 28.8531 26.492 28.1522 27.7622 26.882L29.7465 24.908L41.3891 36.4766H4.61087ZM43.3047 34.5803L31.6575 23.0072L43.3047 11.4214V34.5803Z" fill="#00A651"/>
              </svg>
            {% endif %}
            
            <div class="icon-box-content">
              {% if block.settings.special_title != blank %}
              <h3 class="title">{{ block.settings.special_title }}</h3>
              {% endif %}
               {% if block.settings.special_content != blank %}
              <p class="content">{{ block.settings.special_content }}</p>
              {% endif %}
            </div>
          </div>

          <!--=======  End of single icon box  =======-->
        </div>
        {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endif %}

{% include 'section_typography' %}

{% schema %}
  {
    "name": "Contact Details",
    "settings": [
		{
		  "type": "header",
          "content": "Section Enable"
        },
		{
          "type": "checkbox",
          "id": "section_enable",
          "label": "Section Enable",  
          "default": true
      	},
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "checkbox",
          "id": "section_title_enable",
          "label": "Section Title Enable",  
          "default": true
      	},
		{
          "type": "text",
          "id": "section_subtitle",
          "label": "Section SubTitle",
          "default": "SIMPLY OR WHITE"
      	},
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Clever & unique ideas"
      	}
	],
	"blocks":[
	   {
          "type": "address",
          "name": "Contact Address",
		   "settings": [
              {
                "type": "text",
                "id": "address_icon",
                "label": "Address Icon",
                "default": "location",
                "info": "Ionicons Icon [See Icon](https:\/\/ionicons.com)"
              },
              {
                  "type": "text",
                  "id": "address_title",
                  "label": "Address Title",
                  "default": "ADDRESS"
              },
              {
                  "type": "textarea",
                  "id": "address_content",
                  "label": "Address Content",
                  "default": "1800 Abbot Kinney Blvd. Unit D & E Venice"
              },
			  {
                "type": "select",
                "id": "lg_banner_col",
                "label": "Desktop",
                "options":[
                      {
                          "label": "Gird 6",
                          "value": "6"
                      },
                      {
                          "label": "Gird 4",
                          "value": "4"
                      },
                      {
                          "label": "Gird 3",
                          "value": "3"
                      }
                  ],
                  "default": "4"
              },
              {
                "type": "select",
                "id": "md_banner_col",
                "label": "Tablet",
                "options":[
                      {
                          "label": "Gird 6",
                          "value": "6"
                      },
                      {
                          "label": "Gird 4",
                          "value": "4"
                      },
                      {
                          "label": "Gird 3",
                          "value": "3"
                      }
                  ],
                  "default": "4"
              }
          ]
       },
		{
          "type": "contact",
          "name": "Contact Phone",
		   "settings": [
              {
                "type": "text",
                "id": "phone_icon",
                "label": "Phone Icon",
                "default": "ios-telephone",
                "info": "Ionicons Icon [See Icon](https:\/\/ionicons.com)"
              },
			  {
                "type": "header",
                "content": "Phone"
              },
              {
                  "type": "text",
                  "id": "phone_title",
                  "label": "Phone Title",
                  "default": "CONTACT"
              },
              {
                  "type": "textarea",
                  "id": "phone_content",
                  "label": "Address Content",
                  "default": "Mobile: (+88) – 1990 – 6886 <br> Hotline: 1800 – 1102"
              },
			  {
                "type": "header",
                "content": "Email"
              },
			  {
                "type": "text",
                "id": "email_icon",
                "label": "Email Icon",
                "default": "ios-email",
                "info": "Ionicons Icon [See Icon](https:\/\/ionicons.com)"
              },
              {
                  "type": "textarea",
                  "id": "email_content",
                  "label": "Email Content",
                  "default": "Mail: contact@lezadastore.com"
              },
			  {
                "type": "select",
                "id": "lg_banner_col",
                "label": "Desktop",
                "options":[
                      {
                          "label": "Gird 6",
                          "value": "6"
                      },
                      {
                          "label": "Gird 4",
                          "value": "4"
                      },
                      {
                          "label": "Gird 3",
                          "value": "3"
                      }
                  ],
                  "default": "4"
              },
              {
                "type": "select",
                "id": "md_banner_col",
                "label": "Tablet",
                "options":[
                      {
                          "label": "Gird 6",
                          "value": "6"
                      },
                      {
                          "label": "Gird 4",
                          "value": "4"
                      },
                      {
                          "label": "Gird 3",
                          "value": "3"
                      }
                  ],
                  "default": "4"
              }
          ]
       },
	   {
          "type": "special_note",
          "name": "Special Note",
		   "settings": [
              {
                "type": "text",
                "id": "special_icon",
                "label": "Special Icon",
                "default": "ios-clock-outline",
                "info": "Ionicons Icon [See Icon](https:\/\/ionicons.com)"
              },
              {
                  "type": "text",
                  "id": "special_title",
                  "label": "Special Title",
                  "default": "HOUR OF OPERATION"
              },
              {
                  "type": "textarea",
                  "id": "special_content",
                  "label": "Special Content",
                  "default": "Monday – Friday : 09:00 – 20:00 <br> Sunday & Saturday: 10:30 – 22:00"
              },
			  {
                "type": "select",
                "id": "lg_banner_col",
                "label": "Desktop",
                "options":[
                      {
                          "label": "Gird 6",
                          "value": "6"
                      },
                      {
                          "label": "Gird 4",
                          "value": "4"
                      },
                      {
                          "label": "Gird 3",
                          "value": "3"
                      }
                  ],
                  "default": "4"
              },
              {
                "type": "select",
                "id": "md_banner_col",
                "label": "Tablet",
                "options":[
                      {
                          "label": "Gird 6",
                          "value": "6"
                      },
                      {
                          "label": "Gird 4",
                          "value": "4"
                      },
                      {
                          "label": "Gird 3",
                          "value": "3"
                      }
                  ],
                  "default": "4"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
		
	],
	"presets": [
		{
		  "name": "Custom Contact Details",
		  "category": "Customs Section",
			"blocks":[
              {
              	"type": "address"
              },
			  {
              	"type": "contact"
              },
			  {
              	"type": "special_note"
              }
          ]
		}
	]
  }
{% endschema %}