{% if section.settings.footer_section_enable == true %}
<div class="{% if section.settings.section_snow_effect %}snow--section-effect {% endif %} footer-container footer-one pt-50 pb-50 pt-sm-80 pb-sm-30 {% if section.settings.footer_overlay %} footer_overlay {% endif %}" id="section-{{ section.id }}">
   <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
    <div class="row">

      {% for block in section.blocks %} 
      {% case block.type %}	

      {% when 'copyright_logo' %}
      <div class="col footer-single-widget">
        <div class="logo">
          {%- if block.settings.logo -%}
          <a href="/" class="theme-logo">
            <img src="{{ block.settings.logo | img_url: '100x100' }}" alt="{{ block.settings.logo.alt | default: shop.name }}">

          </a>
          {%- else -%}
          <a href="/">
            {{ shop.name }}
          </a>
          {%- endif -%}
          
        </div>

        <div class="copyright-text">
           {{ block.settings.copy_right_text }}
        </div>

        <div class="payments-logo">
          <i class="fa fa-cc-visa" aria-hidden="true"></i>
          <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
          <i class="fa fa-cc-paypal" aria-hidden="true"></i>
        </div>

      </div>

      {% when 'widget_menu' %}
      <div class="col footer-single-widget">
        {% if block.settings.footer_widget_title != blank %}
        <h5 class="widget-title">{{ block.settings.footer_widget_title }}</h5>
        {% endif %}
        
        <div class="footer-nav-container">
          <nav>
            <ul>
              {% assign footer_menu = block.settings.footer_menu_handle %}
              {% for link in linklists[footer_menu].links %}
              <li><a href="{{ link.url }}"> {{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>

      {% when 'social_icon' %}

      <div class="col footer-single-widget">
        {% if block.settings.footer_widget_title != blank %}
        <h5 class="widget-title">{{ block.settings.footer_widget_title }}</h5>
        {% endif %}
        
        <div class="footer-nav-container footer-social-links">
          <nav>
            <ul>
              {% if block.settings.social_icon_1_name != blank %}
              <li><a href="{{ block.settings.social_icon_1_link }}"> <svg width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 0.583252C3.43625 0.583252 0.958336 3.06117 0.958336 6.12492C0.958336 10.2812 6.5 16.4166 6.5 16.4166C6.5 16.4166 12.0417 10.2812 12.0417 6.12492C12.0417 3.06117 9.56375 0.583252 6.5 0.583252ZM2.54167 6.12492C2.54167 3.93992 4.315 2.16659 6.5 2.16659C8.685 2.16659 10.4583 3.93992 10.4583 6.12492C10.4583 8.40492 8.17834 11.817 6.5 13.9466C4.85334 11.8328 2.54167 8.38117 2.54167 6.12492ZM4.52084 6.12492C4.52084 5.03185 5.40694 4.14575 6.5 4.14575C7.20709 4.14575 7.86047 4.52298 8.21401 5.13533C8.56756 5.74769 8.56756 6.50214 8.21401 7.1145C7.86047 7.72686 7.20709 8.10408 6.5 8.10408C5.40694 8.10408 4.52084 7.21798 4.52084 6.12492Z" fill="#B1B5B4"/>
              </svg> 2174 Railroad Avenue<p style="margin-left: 18px !important;">Hercules CA 94547</p></a></li>        
              {% endif %}
              {% if block.settings.social_icon_2_name != blank %}
              <li><a  href="{{ block.settings.social_icon_2_link }}"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M3 2.25H5.625C6.0375 2.25 6.375 2.5875 6.375 3C6.375 3.9375 6.525 4.8375 6.8025 5.6775C6.885 5.94 6.825 6.2325 6.615 6.4425L4.965 8.0925C6.045 10.215 7.785 11.9475 9.9075 13.035L11.5575 11.385C11.7075 11.2425 11.895 11.1675 12.09 11.1675C12.165 11.1675 12.2475 11.175 12.3225 11.205C13.1625 11.4825 14.07 11.6325 15 11.6325C15.4125 11.6325 15.75 11.97 15.75 12.3825V15C15.75 15.4125 15.4125 15.75 15 15.75C7.9575 15.75 2.25 10.0425 2.25 3C2.25 2.5875 2.5875 2.25 3 2.25ZM4.905 3.75C4.95 4.4175 5.0625 5.07 5.2425 5.6925L4.3425 6.5925C4.035 5.6925 3.84 4.74 3.7725 3.75H4.905ZM12.3 12.765C12.9375 12.945 13.59 13.0575 14.25 13.1025V14.22C13.26 14.1525 12.3075 13.9575 11.4 13.6575L12.3 12.765Z" fill="#B1B5B4"/>
</svg>
 9254807042 </a></li>        
              {% endif %}   
              {% if block.settings.social_icon_3_name != blank %}
              <li><a  href="{{ block.settings.social_icon_3_link }}"><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.8333 3.16669H3.16659C2.29575 3.16669 1.59117 3.87919 1.59117 4.75002L1.58325 14.25C1.58325 15.1209 2.29575 15.8334 3.16659 15.8334H15.8333C16.7041 15.8334 17.4166 15.1209 17.4166 14.25V4.75002C17.4166 3.87919 16.7041 3.16669 15.8333 3.16669ZM3.16659 6.33335L9.49992 10.2917L15.8333 6.33335V14.25H3.16659V6.33335ZM3.16659 4.75002L9.49992 8.70835L15.8333 4.75002H3.16659Z" fill="#B1B5B4"/>
</svg>
 karmartstores@gmail.com </a></li>        
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>

      {% when 'newsletter' %}
      <div class="col footer-single-widget">
        <div class="footer-subscription-widget">
          {% if block.settings.newsletter_title != blank %}
          <h2 class="footer-subscription-title">{{ block.settings.newsletter_title }}</h2>
          {% endif %}
          {% if block.settings.newsletter_description != blank %}
          <p class="subscription-subtitle">{{ block.settings.newsletter_description }}</p>
          {% endif %}
          
          {%- if block.settings.newsletter_system == 'by_shopify_form' -%}
          {%- assign formId = 'Contact_' | append: section.id -%}
          {%- form 'customer', id: formId, class: "shopify_newsletter__form" -%}
          {%- if form.posted_successfully? -%}
          <p class="form-message form-success">{{ 'general.newsletter_form.confirmation'| t }} </p>
          {%- else -%}
          <div class="subscription-form">
            {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
            {%- endif -%}
            <div class="form__inner">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}"
                     placeholder="{{ block.settings.newsletter_input_placeholder }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
              <button type="submit"  name="commit" id="Subscribe"><i class="ion-ios-arrow-thin-right"></i></button>
            </div>
          </div>
          {%- endif -%}
          {%- endform -%}

          {%- elsif block.settings.newsletter_system == 'by_mailchimp' -%}
          <div class="subscription-form">
            <form id="mc-form" class="mc-form">
              <input type="email" placeholder="{{ block.settings.newsletter_input_placeholder }}" required>
              <button type="submit"><i class="ion-ios-arrow-thin-right"></i></button>
            </form>
          </div>
          <div class="mailchimp-alerts">
            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
          </div><!-- mailchimp-alerts end -->
          {%- endif -%}
        </div>
      </div>


      {% endcase %}
      {% endfor %}
    </div>
    <hr>
    <div class="social-logo">
      <a class="facebook" href = "#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a class="instagram" href = "#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>

    <div class="disclaimer">
      <p>
        Disclaimer: These statements have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure or prevent any disease or
        condition. These products should be used only as directed on the label by the manufacturer. Do not use these products if you are pregnant, nursing, have a serious medical condition, or
        use prescription medications without consulting with your doctor first. These products are for adults only. These products are not intended for sale to persons under the age of majority
        as determined by the state in which the consumer resides (18 unless otherwise applicable). Products containing plant based cannabinoids or hemp are available for U.S. interstate
        commerce in accordance with the 2018 Agriculture Improvement Act 0f 2018 (“Act”) applicable to hemp-derived products. Pursuant to the Act, none of the products available on this
        Site contain more than 0.3% of any psychoactive cannabinoids as measured on a dry weight basis by an independent laboratory providing a certificate of analysis to the manufacturer.
        State or local laws may vary. We reserve the right not to sell certain products in certain states or localities. Customers are advised to familiarize themselves with those laws and
        regulations that apply to them. Seller makes no representations regarding state or local requirements. Buyer assumes all risks.
      </p>

    </div>
  </div>
</div>
{% endif %}

<style>
  {% for block in section.blocks %} 
  	{% case block.type %}		
      {% when 'footer_typography' %}
         #section-{{ section.id }}.footer-container.footer-one {
           background: {{ block.settings.footer_bg_color }} {%- if block.settings.footer_bg_image -%}url("{{ block.settings.footer_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
  		}
          #section-{{ section.id }} .footer-single-widget h5.widget-title,#section-{{ section.id }} .footer-subscription-widget .footer-subscription-title{
            color: {{ block.settings.widget_title_color }};
          }
          #section-{{ section.id }} .footer-single-widget .copyright-text p,.footer-nav-container nav ul li a,.footer-subscription-widget .subscription-subtitle {
            color: {{ block.settings.footer_body_color }};
          }
           #section-{{ section.id }} .footer-social-links ul li a i {
             color: {{ block.settings.social_icon_color }};
          }
          #section-{{ section.id }}  .mailchimp-success{
            color: {{ block.settings.mail_sucess_color }};
          }
  		   #section-{{ section.id }}  .footer-nav-container nav ul li a:hover,.footer-subscription-widget .subscription-form button:hover{
              color: {{ block.settings.footer_body_hover_color }};
          }
		  .footer-subscription-widget .subscription-form input,.footer-subscription-widget .subscription-form input:focus {
            border-color: {{ block.settings.input_border_color }};
          }

       .footer-subscription-widget .subscription-form button {
            color: {{ block.settings.newsletter_submit_button_color }};
        }
          .footer-subscription-widget .subscription-form input {
            color: {{ block.settings.newsletter_placholder_color }}
          }
        .footer-subscription-widget .subscription-form input::-webkit-input-placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
        .footer-subscription-widget .subscription-form input:-ms-input-placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
        .footer-subscription-widget .subscription-form input::placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
  
     {% endcase %}
  {% endfor %}
  
  
  #section-{{ section.id }}.footer_overlay::before  {
    background: {{ section.settings.footer_overlay_color }};
    opacity: {{ section.settings.footer_overlay_opacity }};
  }

</style>


{% schema %}
  {
  "name": "Footer",
    "settings": [
		{
             "type":  "radio",
             "id":    "container_width",
             "label": "Container Width",
             "options": [
               { "value": "container", "label": "Container" },
               { "value": "fluid", "label": "Full Width" }
             ],
             "default":   "fluid"
          },
		{
          "type": "header",
          "content": "Footer Enable"
        },
        {
          "type": "checkbox",
          "id": "footer_section_enable",
          "label": "Footer Section Enable",
          "default": true
        },
		{
                "type": "header",
                "content": "Footer Overlay"
              },
              {
                "type": "checkbox",
                "id": "footer_overlay",
                "label": "Footer Overlay Enable",
                "default": false
              },
              {
                "type": "color",
                "id": "footer_overlay_color",
                "label": "Overlay Color",
                "default": "#000"
              },
              {
                "type": "range",
                "id": "footer_overlay_opacity",
                "min": 0,
                "max": 1,
                "step": 0.1,
                "label": "Overlay Color Opacity",
                "default": 0.5
              },
		{
          "type": "header",
          "content": "Snow Effect"
        },
        {
          "type": "checkbox",
          "id": "section_snow_effect",
          "label": "Snow Effect Enable",
          "default": false
        }
    ],
	"blocks":[
		{
          "type": "footer_typography",
          "name": "Footer Color Options",
		  "limit": 1,
          "settings": [
              {
                "type": "color",
                "id": "footer_bg_color",
                "label": "Footer  Bg color",
                "default": "#f8f8f8"
              },
			  {
                "type": "image_picker",
                "id": "footer_bg_image",
                "label": "BG Image"
              },
			  {
                "type": "color",
                "id": "widget_title_color",
                "label": "Widget Title Color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "footer_body_color",
                "label": "Footer Body color",
                "default": "#999999"
              },
			  {
                "type": "color",
                "id": "footer_body_hover_color",
                "label": "Footer Body Hover color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "social_icon_color",
                "label": "Social Icon color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "input_border_color",
                "label": "Newsletter Input Boder Color",
                "default": "#ccc"
              },
			  {
                "type": "color",
                "id": "newsletter_placholder_color",
                "label": "Newsletter Placeholder Color",
                "default": "#777"
              },
			  {
                "type": "color",
                "id": "newsletter_submit_button_color",
                "label": "Newsletter Submit Button Color",
                "default": "#ccc"
              }
          ]
		},
		{
          "type": "newsletter",
          "name": "Newsletter",
          "settings": [
			  {
                "type": "text",
                "id": "newsletter_title",
                "label": "Newsletter Widget Title",
                "default": "Subscribe."
              },
		      {
                "type": "header",
                "content": "Newsletter Type"
              },
              {
                "type": "radio",
                "id": "newsletter_system",
                "label": "Newsletter Accept",
                "options": [
                  {
                    "label": "Shopify Form",
                    "value": "by_shopify_form"
                  },
                  {
                    "label": "MailChimp",
                    "value": "by_mailchimp"
                  }
                ],
                "default": "by_shopify_form"
              },
		 	  {
                "type": "textarea",
                "id": "newsletter_description",
                "label": "Newsletter Widget Desc",
                "default": "Subscribe to our newsletter to receive news on update."
              },
			  {
                "type": "text",
                "id": "newsletter_input_placeholder",
                "label": "Placeholder Title",
                "default": "Your email address"
              }
          ]
       },
		{
          "type": "social_icon",
          "name": "Social Media",
          "settings": [
			  {
                "type": "text",
                "id": "footer_widget_title",
                "label": "Footer Widget Title",
                "default": "Widget TItle"
              },
			  {
                "type": "header",
                "content": "Icon With Link"
              },
			  {
                "type": "text",
                "id": "social_icon_1_name",
                "label": "Social Icon Name",
                "default": "twitter",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_1_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_2_name",
                "label": "Social Icon Name",
                "default": "instagram",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_2_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_3_name",
                "label": "Social Icon Name",
                "default": "google-plus",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_3_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_4_name",
                "label": "Social Icon Name",
                "default": "linkedin",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_4_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_5_name",
                "label": "Social Icon Name",
                "default": "pinterest",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_5_link",
                "label": "Link"
              }
          ]
       },
		{
          "type": "copyright_logo",
          "name": "Logo With Copyright",
          "settings": [
			  {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
              },
		      {
                "type": "textarea",
                "id": "copy_right_text",
                "label": "CopyRight Text",
                "default": "<p>Copyright © Lezada Shopify All Right Reserved.</p>"
              }
          ]
       },
		{
          "type": "widget_menu",
          "name": "Footer Widget Menu",
          "settings": [
			  {
                "type": "text",
                "id": "footer_widget_title",
                "label": "Footer Widget Title",
                "default": "Widget TItle"
              },
			  {
                  "type": "link_list",
                  "id": "footer_menu_handle",
                  "label": "Select Menu"
              }
          ]
       }
	   
	]
  }
{% endschema %}